<div class="container">
    <div class="row">
      <div class="col-5 mx-auto" >
        <form #formThemPhim="ngForm"(ngSubmit)="ThemPhim(formThemPhim.value,hinhAnh.files)">
          <h4 class="display-4">Thêm Phim </h4>
          <div class="form-group">
            <label for="">Tên Phim: </label>
            <input type="text" class="form-control" name="TenPhim" ngModel >
          </div>
          <div class="form-group">
            <label for="">Trailer: </label>
            <input type="text" class="form-control" name="Trailer" ngModel >
          </div>
          <div class="form-group">
            <label for="">Hình Ảnh: </label>
            <input type="file" #hinhAnh>
          </div>
          <div class="form-group">
            <label for="">Mô Tả: </label>
            <input type="text" name="MoTa" ngModel >
          </div>
          <div class="form-group">
            <label for="">Mã Nhóm: </label>
            <input type="text" class="form-control" name="MaNhom" ngModel >
          </div>
          <div class="form-group">
            <label for="">Ngày Khởi Chiếu: </label>
            <input type="text" class="form-control" name="NgayKhoiChieu" ngModel >
          </div>
          <div class="form-group">
            <label for="">Đánh Giá: </label>
            <input type="text" class="form-control" name="DanhGia" ngModel >
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Đăng Ký</button>
          </div>
        </form>
      
      </div>
    </div>
  </div>
  