<!-- <div class="grid ">
    <a href="img/coco-nguon-cam-hung-mexico-bat-tan-chay-tran-trong-tac-pham-15112415262155.jpg" class="new__item" data-lightbox="roadtrip">
        <figure class="effect-ruby ">
            <img src="img/coco-nguon-cam-hung-mexico-bat-tan-chay-tran-trong-tac-pham-15112415262155.jpg" alt="img13"/>
            <figcaption>
                    <h2>Justice <span>League</span></h2>
                    <p>Ruby did not need any help. Everybody knew that.</p>
                
            </figcaption>			
        </figure> 
    </a>
</div> -->
<div class="grid mix review">
    <a href="" class="new__item d-block">
        <figure class="effect-ruby ">
                <img [src]="TinTucDetails.HinhAnh">
                <figcaption>
                    <h2>Justice <span>League</span></h2>
                    <p>Ruby did not need any help. Everybody knew that.</p>
                </figcaption>     
        </figure> 
    </a>
</div>

