#thongTin{
    background-color: rgb(10, 32, 41);
}
#thongTin #infoMainTop{
    position: relative;
}
#thongTin .styleBlur{
    position: relative;
    top:0;
    left:0;
    width:100%;

}
#info{
    position: absolute;
    top:10%;
    left:35%;
    
}
#thongTin #infoMainTop .poster{
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width:220px;
}
.poster>img{
    width:100%;
}


#thongTin #infoMainTop .styleBlur img{
    display: relative;
    top:0;
    left:0;
    filter: blur(15px);
    margin: -11px 0 -5px -10px;
    width: calc(100% + 5px);
    overflow: hidden;
}
#thongTin #infoMainTop .styleGradient {
    position: absolute;;
    top:0;
    left:0;
    height:100%;
    width:100%;

}
#thongTin img{
    box-shadow: 0 0 16px rgba(0,0,0,.5);
}